In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('dataset.tsv',sep='\t')
data

           3  1     0  4.946383226137406
0         15  1     0           5.094175
1          2  1     0           4.610773
2          7  1     0           4.733779
3          8  1     0           4.790034
4          9  1     0           4.923267
...       .. ..   ...                ...
29999994   6  2  1499           1.726684
29999995   7  2  1499           3.515895
29999996   2  2  1499           7.102604
29999997   7  2  1499           0.881856
29999998   5  2  1499           4.583794

[29999999 rows x 4 columns]

In [8]:
data = data.rename(columns={'3':'N', '1':'TEST_ID','0':'IND','4.946383226137406':'FEAT'})

In [10]:
new_row = {'N':'3', 'TEST_ID':'1','IND':'0','FEAT':'4.946383226137406'}
data = data.append(new_row, ignore_index=True)

C:\Users\skuan\AppData\Local\Temp\ipykernel_1240\3790428662.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_row, ignore_index=True)

In [12]:
n = list(data['N'])
test_id = list(data['TEST_ID'])
ind = list(data['IND'])
feat = list(data['FEAT'])

In [21]:
count = 0
mass=[]
for i in range(len(n)):
    if float(feat[i])!=1000000 and float(feat[i])!=-1000000:
        if float(feat[i])<-1000000 or float(feat[i])>1000000:
            count+=1
            mass.append(ind[i])

In [25]:
sort=[]
for i in range(len(mass)):
    if mass[i] not in sort:
        sort.append(mass[i])

In [28]:
sort[:10]

[9, 36, 44, 52, 66, 80, 117, 130, 137, 140]